.rootNav{
    
    display: flex;
    align-items: stretch; 
  }
  
  .rootNav a{
    color:#fff;
    padding:0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center; /*new*/
    
  }

  .rootNav .active{
    background-color:#61dafb;
    background:linear-gradient(to bottom, #61dafb 0%, #61dafb 75%, #58c3e0 100%);
    color:#000;
  }